* {
  font-family: 'Proxima Nova', "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
  box-sizing: border-box;
}

.custom-blue-bg {
  background-color: #3778c2;
}

.custom-green-bg {
  background-color: #5fb523;
}

.custom-black-color {
  color: #434b54;
}

.custom-light-gray-bg {
  background-color: #f5f6f8;
}

.login-btn {
  width: 80%;
  margin: 0 auto;
  background-color: hsl(212, 56%, 29%);
}

.btn {
  /* color: #1a9948; */
  display: block;
  width: 100%;
  padding: 10px 8px;
  text-align: center;
  border-radius: 5px;
}

.input-cont {
  border: 1px solid #d3d3d3;
  background-color: #fff;
  padding: 12px 8px;
  margin-bottom: 10px;
}

.input {
  border: none;
  outline: none;
  padding: 10px 8px;
  width: 100%;
  background-color: #fff;
}

.input:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

.border-bottom {
  border-bottom: 1px solid #cccc;
}

.body-height {
  height: calc(100vh - 62.8px);
}
